<h1>アカウント詳細ページ</h1>
<p>名前: <%= @user.name %></p>
<p>メールアドレス: <%= @user.email %></p>

<div id= "edit-user">
    <%= link_to "編集", edit_user_path %>
</div>

<div id= "destroy-user">
    <%= link_to "削除", @user, method: :delete, deta %>
</div>
